<body>
    <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
        <div class="card-body">
            <h5 class="card-title">Exito</h5>
            <p class="card-text" th:text="${exito}"></p>
        </div>
    </div>
    <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
        <div class="card-body">
            <h5 class="card-title">Error ð</h5>
            <p class="card-text" th:text="${error}"></p>
        </div>
    </div>
</body>

