<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head"></head>
    <body>
        <!-- Nav -->
        <nav th:replace= "/fragments/navbar :: nav"></nav>
        <!-- Fin Nav -->
        
        <!-- Formulario -->
        <div class="container m-5" >
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Id del Autor</th>
                        <th scope="col">Nombre del Autor</th>
                        <th sec:authorize="hasRole('ADMIN')" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody th:each="Author : ${autores}"> 
                    <tr>
                        <th scope="row" th:text="${Author.id}"></th>
                        <td th:text="${Author.name}"></td>
                        <td>
                            <a sec:authorize="hasRole('ADMIN')" th:href= "@{/autor/modificar/__${Author.id}__}"><i class="fas fa-feather-alt">  </i> Modificar </a>
                        </td>
                        
                    </tr>
                </tbody>
            </table>

            <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                <div class="card-body">
                    <h5 class="card-title">Exito ð</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
                <div class="card-body">
                    <h5 class="card-title">Error ð</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>

            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <a th:href="@{/inicio}" class="btn btn-primary my-2">Volver</a>
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- Fin Formulario -->
        
        <footer th:replace= "/fragments/footer :: footer"></footer>



           <script th:replace= "/fragments/scripts :: script"></script>
    </body>

</html>
