<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en" class="h-100" data-bs-theme="auto">
    <!-- Head -->
    <head th:replace= "/fragments/head2 :: head"></head>
    <!-- Fin Head -->
    <body class="text-bg-dark">
        
        <!-- NavBar -->
        <header th:replace="/fragments/navbar2 :: header"></header>
        <!-- Fin NavBar -->
        <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        
    </body>
</html>
