h1 {
  color: aqua;
}

.parrafo2 {
  color: red;
}

.parrafo3 {
  color: yellow;
}

.parrafo4 {
  text-decoration-line: underline;
  color: red;
}

.texto1 {
  color: blue;
}

.texto2 {
  color: purple;
}

.titulo1 {
  color: gold;
}
.titulo2 {
  color: gold;
}

.f2c1 {
  color: gold;
}

.f2c2 {
  color: green;
}

.f2c3 {
  color: green;
}

.f3c1 {
  color: red;
}

.f3c2 {
  color: green;
}

.texto3 {
  color: gold;
}

.f3c3 {
  color: green;
}

.f4c2{
    color: red;
}

.f4c3{
    color: red;
}

h2 {
  color: blue;
}

p {
  color: darkolivegreen;
}
